{% extends 'base.html.twig' %}

{% block title %}Impress index{% endblock %}

{% block body %}
    <h1>Impress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Language</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for impress in impresses %}
            <tr>
                <td>{{ impress.id }}</td>
                <td>{{ impress.language }}</td>
                <td>{{ impress.content }}</td>
                <td>
                    <a href="{{ path('backend_impress_show', {'id': impress.id}) }}">show</a>
                    <a href="{{ path('backend_impress_edit', {'id': impress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backend_impress_new') }}">Create new</a>
{% endblock %}
